html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.bookCard {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.bookCard > button {
    background-color: red;
}